<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en-US</string>
    <key>CFBundleDisplayName</key>
    <string>OrangeBlox</string>
    <key>CFBundleExecutable</key>
    <string>OrangeLoader</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon.icns</string>
    <key>CFBundleIdentifier</key>
    <string>dev.efaz.orangeblox.loader</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>OrangeBlox</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.3.1c</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>ReplicateRobloxPlayer</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>roblox-player</string>
                <string>roblox-studio</string>
                <string>roblox-studio-auth</string>
                <string>roblox</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>CFBundleURLName</key>
            <string>BootstrapURLScheme</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>efaz-bootstrap</string>
                <string>orangeblox</string>
            </array>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconSystemGenerated</key>
            <integer>1</integer>
            <key>CFBundleTypeName</key>
            <string>Roblox Place</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.Roblox.RobloxStudio-document</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>rbxl</string>
                <string>rbxlx</string>
            </array>
        </dict>
        <dict>
            <key>CFBundleTypeIconSystemGenerated</key>
            <integer>1</integer>
            <key>CFBundleTypeName</key>
            <string>OrangeBlox File</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>dev.efaz.orangeblox.filetype</string>
            </array>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>obx</string>
            </array>
        </dict>
    </array>
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>Roblox Place</string>
            <key>UTTypeIconFile</key>
            <string></string>
            <key>UTTypeIcons</key>
            <dict>
                <key>UTTypeIconText</key>
                <string></string>
            </dict>
            <key>UTTypeIdentifier</key>
            <string>com.Roblox.RobloxStudio-document</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>rbxl</string>
                    <string>rbxlx</string>
                </array>
            </dict>
        </dict>
        <dict>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.data</string>
            </array>
            <key>UTTypeDescription</key>
            <string>OrangeBlox File</string>
            <key>UTTypeIconFile</key>
            <string></string>
            <key>UTTypeIcons</key>
            <dict>
                <key>UTTypeIconText</key>
                <string></string>
            </dict>
            <key>UTTypeIdentifier</key>
            <string>dev.efaz.orangeblox.filetype</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>obx</string>
                </array>
            </dict>
        </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>2.3.1c</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.utilities</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.13</string>
    <key>LSMultipleInstancesProhibited</key>
    <false/>
    <key>NSAppSleepDisabled</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>